<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="videoclub_online">
    <title>Document</title>
    <script src="https://kit.fontawesome.com/c070e348d4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../styles/style3.css">
    <title>Accion</title>
</head>

<body>
    <h1>
        <a href="../index.html">VIDEO CLUB ONLINE</a>
    </h1>

    <div class="logo">
        <img src="../imagenes/logo.png" alt="logo">
    </div>


    <header>
        <nav>
            <ul>
                <li><a href="index.html">Inicio</a></li>
                <li><a href="index2.html">Terror</a></li>
                <li><a href="index3.html">Accion</a></li>
                <li><a href="index4.html">Comedia</a></li>
                <li><a href="index1.html">Contacto</a></li>
            </ul>
            <button class="burguer" type="button">
                <i class="fa-solid fa-bars"></i>
            </button>
        </nav>
    </header>



    <h2>Peliculas de Accion</h2>
    <div id="carrito">
    <div class="container_peliculas">

        <div class="peliculas">
            <a href="#"><img src="../imagenes/John Wick.png" alt="pelicula"></a>
            <h3>John Wick </h3>
            <p>La ciudad de Nueva York se llena de balas cuando John Wick, un exasesino a sueldo, regresa de su retiro
                para enfrentar a los mafiosos rusos, liderados por Viggo Tarasov, que destruyeron todo aquello que él
                amaba y pusieron precio a su cabeza.
            </p>
            <div class="buttons">
                <button onclick="alquilar()">ALQUILAR</button><br>
                <button onclick="comprar()">COMPRAR</button><br>
                
                <a href="https://www.youtube.com/watch?v=L0anWmmd8TI"target="_blank">
                <button type="submit">TRAILER</button><br></a>
                
            </div>
        </div>

        <div class="peliculas">
            <a href="#"><img src="../imagenes/Arma Letal.png" alt="pelicula"></a>
            <h3>Arma mortal </h3>
            <p>Una pareja (Mel Gibson, Danny Glover) dispareja de detectives debe enfrentarse a una peligrosa banda
                internacional de narcotraficantes.
            </p>
            <div class="buttons">
                <button onclick="alquilar()">ALQUILAR</button><br>
                <button onclick="comprar()">COMPRAR</button><br>
                
                <a href= "https://www.youtube.com/watch?v=0NCl9eue_jo"target="_blank">
                <button type="submit">VER TRAILER</button></a>
            </div>
        </div>

        <div class="peliculas">
            <img src="../imagenes/Duro de Matar 2.png" alt="pelicula">
            <h3>Duro de matar 2</h3>
            <p>Un policía de Los Ángeles pelea contra una banda de terroristas que han tomado el aeropuerto de
                Washington D. C.
            </p>
            <div class="buttons">
                <button onclick="alquilar()">ALQUILAR</button><br>
                <button onclick="comprar()">COMPRAR</button><br>
                
                <a href= "https://www.youtube.com/watch?v=gYWvwkXreaI&t=12s"target="_blank">
                <button type="submit">VER TRAILER</button></a>
            </div>
        </div>


        <div class="peliculas">
            <img src="../imagenes/Gladiador.jpeg" alt="pelicula">
            <h3>GLADIATOR</h3>
            <p>Máximo, general romano, desea volver a casa, pero el emperador Marco Aurelio quiere que herede el imperio. Esto hace que Cómodo ordene matar a su familia. Máximo escapa de la muerte y regresa a Roma como gladiador para vengar la muerte de su familia.
            </p>
            <div class="buttons">
                <button onclick="alquilar()">ALQUILAR</button><br>
                <button onclick="comprar()">COMPRAR</button><br>
                
                <a href= "https://www.youtube.com/watch?v=Pb6WME02hdA"target="_blank">
                <button type="submit">VER TRAILER</button></a>
            </div>
        </div>

        <div class="peliculas">
            <img src="../imagenes/ROCKY.jpeg" alt="pelicula">
            <h3>ROCKY</h3>
            <p>Un humilde boxeador de Filadelfia, en el que nadie cree, tiene la oportunidad de cambiar su vida por completo si lucha por el título mundial contra el temible Apollo Creed.
            </p>
            <div class="buttons">
                <button onclick="alquilar()">ALQUILAR</button><br>
                <button onclick="comprar()">COMPRAR</button><br>
                
                <a href= "https://www.youtube.com/watch?v=yVoBTFG2QKM"target="_blank">
                <button type="submit">VER TRAILER</button></a>
            </div>
        </div>
        <div class="peliculas">
            <img src="../imagenes/ELPILOTO.jpg" alt="pelicula">
            <h3>EL PILOTO </h3>
            <p>Ray Torrance es un piloto que tiene que enfrentarse a un aterrizaje de emergencia cuando pilota un avión comercial de pasajeros, dañado por una gran tormenta. Pero el lugar en el que aterriza es una zona de conflicto bélico entre dos facciones contrarias de grupos paramilitares, que al ver el avión deciden competir por quién de los dos grupos toma el control del avión y a sus pasajeros como rehenes. 
            </p>
            <div class="buttons">
                <button onclick="alquilar()">ALQUILAR</button><br>
                <button onclick="comprar()">COMPRAR</button><br>
                
                <a href= "https://www.youtube.com/watch?v=X-s1kKazrx8"target="_blank">
                <button type="submit">VER TRAILER</button></a>
            </div>
        </div>
        <div class="peliculas">
            <img src="../imagenes/RAMBO.jpeg" alt="pelicula">
            <h3>RAMBO</h3>
            <p>First Blood is a 1982 action film directed by Ted Kotcheff, co-written by and starring Sylvester Stallone as John Rambo, a troubled and misunderstood veteran, with Sheriff Will Teasle (Brian Dennehy) ...
            </p>
            <div class="buttons">
                <button onclick="alquilar()">ALQUILAR</button><br>
                <button onclick="comprar()">COMPRAR</button><br>
                
                <a href= "https://www.youtube.com/watch?v=yCla3qYTJyM"target="_blank">
                <button type="submit">VER TRAILER</button></a>
            </div>
        </div>
        <div class="peliculas">
            <img src="../imagenes/matrix.jpeg" alt="pelicula">
            <h3>MATRIX</h3>
            <p>El programador informático Thomas Anderson, más conocido en el mundo de los "hacker" como Neo, está en el punto de mira del temible agente Smith. Otros dos piratas informáticos, Trinity y Morfeo, se ponen en contacto con Neo para ayudarlo a escapar. Matrix te posee. Sigue al conejo blanco. 
            </p>
            <div class="buttons">
                <button onclick="alquilar()">ALQUILAR</button><br>
                <button onclick="comprar()">COMPRAR</button><br>
                
                <a href= "https://www.youtube.com/watch?v=gYWvwkXreaI&t=12s"target="_blank">
                <button type="submit">VER TRAILER</button></a>
            </div>
        </div>
    </div>
    </div>


    <div class="listas">
        <h4>Lista Alquilados</h4>
        <ul id="listaAlquilados">

        </ul>

        <h4>Lista Comprados</h4>
        <ul id="listaComprados">
            
        </ul>
    </div>

    <button onclick="limpiarAlquilados()">Limpiar Alquilados</button><br>
    <button onclick="limpiarComprados()">Limpiar Comprados</button><br>
    <footer>
        <p>derechos reservados &copy;</p>
        <p>Siguenos en redes sociales</p>
        <div class="redesSociales">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="https://www.instagram.com/videoclub_online"target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://api.whatsapp.com/send?phone=543435108426"target="_blank"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
        </div>
    </footer>







    <script src="../js/script3.js"></script>
</body>
</html>