<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="videoclub_online">
    <title>TERROR</title>
    <script src="https://kit.fontawesome.com/c070e348d4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../styles/style2.css">

</head>
<body>
    <h1>
        <a href="../index.html">VIDEO CLUB ONLINE</a>
    </h1>

    <div class="logo">
        <img src="../imagenes/logo.png" alt="logo">
    </div>
    
    
    <header>
        <nav>
            <ul>
                <li><a href="./index.html">Inicio</a></li>
                <li><a href="./index2.html">Terror</a></li>
                <li><a href="index3.html">Accion</a></li>
                <li><a href="index4.html">Comedia</a></li>
                <li><a href="./index1.html">Contacto</a></li>
            </ul>
            <button class="burguer">
                <i class="fa-solid fa-bars"></i>
            </button>
        </nav>
    </header>


    <h2>Peliculas de Terror</h2>
    
    <div id="carrito">
    <div class="container_peliculas">

        <div class="peliculas">
            <a href="#"><img src="../imagenes/Caceria en venecia.jpeg" alt="pelicula"></a>
            <h3>CACERIA EN VENECIA </h3>
            <p>En la década de 1940, en la Venecia de la posguerra, el célebre detective belga Hércules Poirot se ve obligado a abandonar el retiro profesional para investigar el asesinato cometido durante una sesión de espiritismo en la que él mismo participaba.
            </p>
            <div class="buttons">
                <button onclick="alquilar()">ALQUILAR</button><br>
                <button onclick="comprar()">COMPRAR</button><br>
                
                <a href= "https://www.youtube.com/watch?v=VXQQE5TEkHQ&t=49s"target="_blank">
                <button type="submit">VER TRAILER</button></a>
    
            </div>
        </div>

        <div class="peliculas">
            <a href="#"><img src="../imagenes/Sawx.jpg" alt="pelicula"></a>
            <h3>SAW X</h3>
            <p>John Kramer conoce a una persona que le promete curarle el cáncer en una clínica de la Ciudad de México.
            Tras descubrir que todo era una estafa, se venga de los timadores secuestrándolos y obligándolos a
            participar en un juego perverso.
            </p>
            <div class="buttons">
                <button onclick="alquilar()">ALQUILAR</button><br>
                <button onclick="comprar()">COMPRAR</button><br>
                
                <a href= "https://www.youtube.com/watch?v=z8dlTVL1J0A"target="_blank">
                <button type="submit">VER TRAILER</button></a>

            </div>
        </div>

        <div class="peliculas">
            <a href="#"><img src="../imagenes/La monja (2).jpeg" alt="pelicula"></a>
            <h3>LA MONJA II </h3>
            <p>Francia, 1956. El asesinato de un sacerdote provoca que un mal demoníaco se extienda sin control.
            La hermana Irene deberá enfrentarse, de nuevo, a la monja satánica Valak.
            </p>
            <div class="buttons">
                <button onclick="alquilar()">ALQUILAR</button><br>
                <button onclick="comprar()">COMPRAR</button><br>
               
                <a href= "https://www.youtube.com/watch?v=pdrPvHulyUY"target="_blank">
                <button type="submit">VER TRAILER</button></a>

            </div>
        </div>

        <div class="peliculas">
            <a href="#"><img src="../imagenes/el-resplandor.jpg" alt="pelicula"></a>
            <h3>EL RESPLANDOR </h3>
            <p>Jack Torrance se convierte en cuidador de invierno en el Hotel Overlook, en Colorado, con la esperanza de vencer su bloqueo con la escritura. Se instala allí junto con su esposa, Wendy, y su hijo, Danny, que está plagado de premoniciones psíquicas. Mientras la escritura de Jack no fluye y las visiones de Danny se vuelven más preocupantes, Jack descubre oscuros secretos del hotel y comienza a convertirse en un maníaco homicida, empeñado en aterrorizar a su familia.
            </p>
            <div class="buttons">
                <button onclick="alquilar()">ALQUILAR</button><br>
                <button onclick="comprar()">COMPRAR</button><br>
                
                <a href= "https://www.youtube.com/watch?v=A3q03BBwMp4"target="_blank">
                <button type="submit">VER TRAILER</button></a>
            </div>
        </div>

        <div class="peliculas">
            <a href="#"><img src="../imagenes/elexorcista.jpeg" alt="pelicula"></a>
            <h3>EL EXORCISTA </h3>
            <p>Una actriz llama a unos sacerdotes jesuitas para que intenten terminar con la posesión demoníaca de su hija de 12 años.
            </p>
            <div class="buttons">
                <button onclick="alquilar()">ALQUILAR</button><br>
                <button onclick="comprar()">COMPRAR</button><br>
                
                <a href= "https://www.youtube.com/watch?v=Q_Ytf1qGCTM"target="_blank">
                <button type="submit">VER TRAILER</button></a>
            </div>
        </div>
        <div class="peliculas">
            <a href="#"><img src="../imagenes/elente.jpg" alt="pelicula"></a>
            <h3>EL ENTE </h3>
            <p>Carla Moran (Barbara Hershey) es una madre soltera que vive junto a sus hijos. Un día, mientras está en su dormitorio, percibe una extraña presencia que la empuja y la arroja hacia la cama. El espectro la aprisiona con la almohada para evitar que grite; mientras, la mujer nota como este ser la está golpeando y agrediendo sexualmente. 
            </p>
            <div class="buttons">
                <button onclick="alquilar()">ALQUILAR</button><br>
                <button onclick="comprar()">COMPRAR</button><br>
                
                <a href= "https://www.youtube.com/watch?v=Q8spqYfV_Rg"target="_blank">
                <button type="submit">VER TRAILER</button></a>
            </div>
        </div>
        <div class="peliculas">
            <a href="#"><img src="../imagenes/lallamada.jpeg" alt="pelicula"></a>
            <h3>LA LLAMADA </h3>
            <p>Una reportera debe resolver el misterio de una cinta que trae muerte a sus espectadores, antes de que sucumba a su poder.
            </p>
            <div class="buttons">
                <button onclick="alquilar()">ALQUILAR</button><br>
                <button onclick="comprar()">COMPRAR</button><br>
                
                <a href= "https://www.youtube.com/watch?v=S2CFb2T8so4"target="_blank">
                <button type="submit">VER TRAILER</button></a>
            </div>
        </div>
        <div class="peliculas">
            <a href="#"><img src="../imagenes/IT.jpg" alt="pelicula"></a>
            <h3>IT </h3>
            <p>Varios niños de una pequeña ciudad del estado de Maine se alían para combatir a una entidad diabólica que adopta la forma de un payaso y desde hace mucho tiempo emerge cada 27 años para saciarse de sangre infantil.
            </p>
            <div class="buttons">
                <button onclick="alquilar()">ALQUILAR</button><br>
                <button onclick="comprar()">COMPRAR</button><br>
                
                <a href= "https://www.youtube.com/watch?v=fP4BBZ76DGg"target="_blank">
                <button type="submit">VER TRAILER</button></a>
            </div>
        </div>
    </div>
    </div>


    <div class="listas">
        <h4>Lista Alquilados</h4>
        <ul id="listaAlquilados">

        </ul>

        <h4>Lista Comprados</h4>
        <ul id="listaComprados">
            
        </ul>
    </div>


    <button onclick="limpiarAlquilados()">Limpiar Alquilados</button><br>
    <button onclick="limpiarComprados()">Limpiar Comprados</button><br>

    <footer>
        <p>derechos reservados &copy;</p>
        <p>Siguenos en redes sociales</p>
        <div class="redesSociales">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="https://www.instagram.com/videoclub_online"target="_blank"><i class="fab fa-instagram"></i></a>
            <a href="https://api.whatsapp.com/send?phone=543435108426"target="_blank"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
        </div>
    </footer>




    <script src="../js/script2.js"></script>
</body>
</html>