@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");


body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0%;
    padding: 0%;
    background-image: url(imagenes/fondo_web.jpg);
}

/* header{
    margin-right: 18px;
} */

/* TITULO Y LOGO */

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    font-size: 50px;
    /* margin-top: 150px; */
    text-shadow: 1px 1px 2px grey;
    transition: text-shadow 300ms;
    margin-top: 0px;

}

h1 a{
    text-decoration: none;
    color:black;
}

h1:hover{
    text-shadow: 0px 0px 4px #0099ff;
}


.logo{
    display: none;
    /* position: absolute;
    top: 10px;
    left: 690px; */
}

img{
    width: 160px;
    
}

/* FIN TITULO Y LOGO */



/* INICIO BARRA DE OPCIONES */

nav{
    background-color:black ;
    margin-top: 3%;
    display: flex;    
}

nav ul{
    list-style-type: none;
    margin: 0%;
    display:flex;

}

nav a{
    display: none;
    /* display: block;
    text-decoration: none;
    color: white;
    padding: 5px 5px;
    margin-left: 6px;
    transition: background-color 1ms; */
    
}


nav a:hover {
    background-color: #3498db;
    /* AGREGAR BOX SHADOW PARA EFECTO ARPETAR UNDIDO  */
    
}

  
nav a:active {
    background-color: #2c3e50;
    
}

/* FIN BARRA DE OPCIONES */



/* INICIO DE RETOQUES EN LAS PELIS Y LA IMAGEN */
h2{
    color: white;
    text-align: center;
}
h2:hover{
    cursor: pointer;
}

h3{
    color: white;
}

p{
    color: rgb(189, 189, 189);
}

.container_peliculas{
    
    margin: 10px;
}

.peliculas{
    display: block;
    padding: 10px;
    margin: 10px;
    background-color: #2c3e50;
    border-radius: 10px;
    width: 90%;
    height: auto;
    margin-bottom: 50px;


}

.peliculas img{
    width: 50%;
    height: 300px;
    margin-left: 25%;
}

button{
    margin: 5px;
    box-shadow: 0px 0px 2px black;
}

button:hover{
    cursor: pointer;

}

.listas{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* justify-content: space-around; */
}

.listas h4{
    margin-left: 15px;
    color: darkgrey;
}

ul{

    color: white;
}


/* FIN DE RETOQUES EN LAS PELIS Y LA IMAGEN */



footer{
    background-color: #16212b;
    text-align: center;
}
.mail{
    color: white;

}
.redesSociales{
    font-size: 25px;

}


.redesSociales i{
    padding: 5px;
   
}

.redesSociales a:first-child{
    color: #0866ff;
    position: fixed;
    bottom: 60px; /* Ajusta según tu preferencia */
    right: 20px; /* Ajusta según tu preferencia */
}

.redesSociales a:nth-child(2){
    color: #1DA1F2;
    position: fixed;
    bottom: 100px; /* Ajusta según tu preferencia */
    right: 20px; /* Ajusta según tu preferencia */
}

.redesSociales a:nth-child(3){
    color: #E1306E;
    position: fixed;
    bottom: 140px; /* Ajusta según tu preferencia */
    right: 20px; /* Ajusta según tu preferencia */
}

.redesSociales a:last-child{
    color: green;
    position: fixed;
    bottom: 180px; /* Ajusta según tu preferencia */
    right: 20px; /* Ajusta según tu preferencia */

}




@media(min-width: 501px) and (max-width: 800px){

    /* h1 a{
        background-color: red;
    } */

    .container_peliculas{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }


    .peliculas{     
        
        width:40%;
        margin: 10px;
        
    }

    .peliculas img{
        width: 80%;
        height: 260px;
        margin-left: 10%;

    }

    .logo {
    display: none;
    }

    nav a{
        display: block;
        text-decoration: none;
        color: white;
        padding: 5px 5px;
        margin-left: 6px;
        transition: background-color 1ms;
    }

    h1{
        margin-top: 0px;
    }

    .burguer{
        display: none;
    }

    
}

@media(min-width: 801px){
    /* h1 a{
        background-color: green;
    } */

    .container_peliculas{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;

    }


    .peliculas{     
        
        width:20%;
        margin: 10px;
        
    }

    .peliculas img{
        width: 80%;
        height: 260px;
        margin-left: 10%;

    }

    .logo{
        display: block;
        position: absolute;
        top: 5px;
        left: 45%;
    }

    nav a{
        display: block;
        text-decoration: none;
        color: white;
        padding: 5px 5px;
        margin-left: 6px;
        transition: background-color 1ms;
    }

    h1{
        
        margin-top: 150px;
    }

    .burguer{
        display: none;
    }

}